.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #db7093;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: cursive;
  font-weight: normal;
  font-variant: small-caps;
  font-stretch: extra-expanded;
}

.App-intro {
  font-size: 350%;
  font-family: cursive;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
